<ion-modal-view name="profile">
	
	<ion-content>
		<ion-header-bar>
			<h1 class="title">Change Phone Number</h1>
			<button light class="disable-hover button button-default button-light button-icon-left" ng-click="closeModal()"> 
				<span class="button-inner">
					<ion-icon name="arrow-back" role="img" class="ion-ios-arrow-back" aria-label="arrow back" ng-reflect-name="arrow-back"></ion-icon>
					Back
				</span>
				<ion-button-effect></ion-button-effect>
			</button>
		</ion-header-bar>
	  Hello!
	</ion-content>
</ion-modal-view>